header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: var(--color-background);
    z-index: 1;
    margin-left: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
}

.to-home,
nav {
    width: 100%;
    flex: 1;
    min-width: 50em;
    margin-bottom: var(--spacing-md);
}


.to-home {
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
    padding-block: var(--spacing-md);
    padding-left: var(--spacing-md);
}

.logo .logo-icon {
    font-size: var(--font-size-xl);
    color: var(--color-text-subtitle);
    transition: transform 300ms ease-in-out;
}

.logo:hover .logo-icon {
    transform: scale(1.2);
}

.title {
    transition: var(--transition-normal);
}

.logo:hover h1 {
    color: var(--color-accent);
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    flex: 1;
    text-align: center;
}
