header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    justify-content: space-between;
    top: 0;
    background-color: var(--color-background);
    z-index: 1;
    padding-top:var(--spacing-sm);
    margin-inline: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    overflow: hidden;
    gap: var(--spacing-sm);
}

.to-home,
nav {
    flex: 1;
    white-space: nowrap;
    width: fit-content;
    margin-bottom: var(--spacing-md);
}


.to-home {
    display: flex;
    cursor: pointer;
}

.logo {
    flex: 1;
    display: flex;
    gap: var(--spacing-lg);
    align-items: center;
}

.logo .logo-icon {
    font-size: var(--font-size-xl);
    color: var(--color-text-subtitle);
    transition: transform 300ms ease-in-out;
}

.logo:hover .logo-icon {
    transform: scale(1.2);
}

.title {
    flex: 1;
    transition: var(--transition-normal);
}

.logo:hover h1 {
    color: var(--color-accent);
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--spacing-lg);
}

nav ul li {
    flex: 1;
    text-align: center;
}

@media (min-width: 0) {
    .logo-icon {
        display: none;
    }

    .title {
        text-align: center;
    }
}

@media (min-width: 320px) {
    .logo-icon {
        display: none;
    }
}

@media (min-width: 425px) {
    .logo-icon {
        display: block;
    }

    .title {
        text-align: left;
    }
}
