main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-inline: 5%;
    gap: var(--spacing-lg);
    margin-block: var(--spacing-lg);
}

.about-block {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.about-heading {
    border: var(--border-sm);
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-md);
}

.about-text {
    margin-inline: var(--spacing-md);
}

.about-block .about-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin-inline: var(--spacing-md);
}

.about-block .about-list > li > p,
.about-block .about-list > li {
    font-size: var(--font-size-md);
}

.about-block .about-list > li > p {
    margin-top: var(--spacing-sm);
    color: var(--color-subtitle);
}

.about-block .about-list > li > ul {
    display: flex;
    flex-direction: column;
    margin-inline: var(--spacing-md);
    gap: var(--spacing-sm);
    margin-top: var(--spacing-sm);
}

.about-block .about-list > li > ul li a {
    font-size: var(--font-size-sm);
}

.about-block .about-list > li > ul li > ul {
    margin-inline: var(--spacing-md);
}

.about-block .about-list > li > ul li > ul li {
    list-style: circle;
}
