main {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-md);
}

main h2 {
    text-align: center;
}

@media (min-width: 0) {
    .featured-artist {
        margin-inline: var(--spacing-sm);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--spacing-xl);
        margin-inline: 10%;
    }

    .artist-media {
        grid-row: 1 / 2;
    }

    .artist-info {
        grid-row: 2 / -1;
    }
}

@media (min-width: 768px) {
    .featured-artist {
        margin-inline: var(--spacing-sm);
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: var(--spacing-sm);
    }

    .artist-media {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .artist-info {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        padding-inline: 10%;
        border-left: var(--border-sm);
    }
}

.artist-media,
.artist-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.artist-image {
    width: 100%;
    aspect-ratio: 16/9;
}

.artist-image img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-md);
}

.song-name {
    font-size: var(--font-size-md);
}

.video-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    border: 0;
    border-radius: var(--border-radius-md);
}

.video-container iframe {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: inherit;
}

.artist-info > :first-child {
    font-size: var(--font-size-md);
}

.artist-info p:not(.about) {
    font-size: var(--font-size-md);
}

.artist-bio {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.artist-bio p:not(.about) {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    white-space: nowrap;
}

.artist-media p,
.artist-bio p.about {
    line-height: var(--line-height-wide);
}
.artist-bio p span:not(.heading) {
    min-width: 10em;
    flex: 4;
    width: 100%;
}

.heading {
    flex: 1;
    color: var(--color-accent);
}
