<header>
    <a class="to-home" href="#">
        <div class="logo">
            <i class="fa-solid fa-headphones logo-icon"></i>
            <h1 class="title">Next-Up Music</h1>
        </div>
    </a>
    <nav>
        <ul>
            <li><a href="./pages/artists.html">Artists</a></li>
            <li><a href="./pages/genres.html">Genres</a></li>
            <li><a href="./pages/playlists.html">Playlists</a></li>
            <li><a href="./pages/suggest.html">Suggest</a></li>
        </ul>
    </nav>
</header>
